.footer {
    height: 300px;
    width: 100%;
    padding: 40px 0px;
    background-color: #070606;
    color: #c1c1c1;
    background-size: 100%;
    background-repeat: no-repeat;

}

.izquierda {
    float: left;
    text-align: left;

}
.derecha p{
    text-align: justify;
}
.derecha {
    float: right;
}

.boton-contact {
    padding: 10px 40px;
    border: none;
    border-radius: 7px;
    background: #b83131;
    background: linear-gradient(to right, #9b4c4c, #B83131);
    box-shadow: 1px 1px 30px -12px #9b4c4c, #B83131;
    transition: all 300ms;
    cursor: pointer;
}

.boton-contact:hover {
    background: #ca2626;
    box-shadow: 1px 1px 15px -6px #B83131;
}

.entrada-form {
    width: 60%;
    padding: 8px 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    border: none;
}